* {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1170px;
    padding: 0 15px; 
    margin: 0 auto; 
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.space-default {
    padding: 40px 0;
}